fastapi
uvicorn
sqlalchemy
psycopg2-binary
jinja2
python-multipart
passlib[bcrypt]
python-jose[cryptography]
email-validator
bcrypt
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
requests